<div class="interest-detail">
  <mat-card *ngIf="hackerNewsItem" class="interest-card">
    <mat-card-header>
      <mat-card-title> {{hackerNewsItem.title}} </mat-card-title>
      <mat-card-subtitle>{{hackerNewsItem.type}} by {{hackerNewsItem.by}} | score: {{hackerNewsItem.score}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf="hackerNewsItem.text" [innerHTML]="hackerNewsItem.text"></mat-card-content>

    <mat-card-subtitle *ngIf="hackerNewsItem.url">
      <a href="{{hackerNewsItem.url}}"> View full {{hackerNewsItem.type}} ... </a>
    </mat-card-subtitle>
    <button (click)="goBack()">go back</button>
  </mat-card>
</div>
